@font-face {
    font-family: Bit;
    src: url(./Fuentes/8bitOperatorPlus8-Regular.ttf);
}
.fondo
{
    background-image: url(./Imagenes/fondo.png);
    background-size: cover;
}

.pokedex
{
    margin: 15vh;
    background-image: url(./Imagenes/pokedex-png-2.png);
    width: 880px;
    height: 715px;
}

.imgP
{
    display: flex;
    justify-content: space-around;
}

.textoPokedex
{
    font-family: Bit;
    font-size: medium;
    background: #fbd4b3;
    max-width: 25vh;
}
.barrabusqueda
{
    display: flex;
    justify-content: center;
    gap: 1vh;
}
.barrabusqueda2
{
    display: flex;
    justify-content: center;
    gap: 1vh;
    padding-right: 10vh;
}
.botonB
{
    background-color: lightgray;
    border-radius: 5px;
    border: 0;
    box-shadow: 1px 1px   rgba(0, 0, 0, 0.1);
    font-family: Bit;
}
.div201
{
    height: 20vh;
}
.div202
{
    height: 15vh;
}
/*480 x 800*/
@media (max-width :480px)
{
    .fondo
    {
        background-image: url(./Imagenes/fondo.png);
        background-position: center;
        background-size: 1000vh;
        background-repeat: no-repeat;
    }
    .pokedex
    {
    
        margin: 40px;
        margin-top: 360px;
        background-image: url(./Imagenes/pokedex-png-2.png);
        width: 880px;
        height: 715px;
    }
    .div201
    {
        height: 120px;
    }
    .div202
    {
        height: 128px;
    }
    .textoPokedex
    {
        font-family: Bit;
        font-size: 18px;
        background: #fbd4b3;
        max-width: 160px;
    }
    .barrabusqueda2
    {
        display: flex;
        justify-content: center;
        gap: 5px;
        padding-right: 120px;
    }
}
/* 640 x 1136*/
@media (min-width :480.1px) and (max-width: 640px)
{
    .fondo
    {
        background-image: url(./Imagenes/fondo.png);
        background-position: center;
        background-size: 1000vh;
        background-repeat: no-repeat;
    }
    .pokedex
    {
    
        margin: 56.8px;
        margin-top: 511.2px;
        background-image: url(./Imagenes/pokedex-png-2.png);
        width: 880px;
        height: 715px;
    }
    .div201
    {
        height: 120px;
    }
    .div202
    {
        height: 130px;
    }
    .textoPokedex
    {
        font-family: Bit;
        font-size: 18px;
        background: #fbd4b3;
        max-width: 170px;
    }
    .barrabusqueda2
    {
        display: flex;
        justify-content: center;
        gap: 5px;
        padding-right: 110px;
    }
}
/* 750 x 1334*/
@media (min-width :640.1px) and (max-width: 750px)
{
    .fondo
    {
        background-image: url(./Imagenes/fondo.png);
        background-position: center;
        background-size: 1000vh;
        background-repeat: no-repeat;
    }
    .pokedex
    {
    
        margin: 56.8px;
        margin-top: 511.2px;
        background-image: url(./Imagenes/pokedex-png-2.png);
        width: 880px;
        height: 715px;
    }
    .div201
    {
        height: 120px;
    }
    .div202
    {
        height: 130px;
    }
    .textoPokedex
    {
        font-family: Bit;
        font-size: 18px;
        background: #fbd4b3;
        max-width: 170px;
    }
    .barrabusqueda2
    {
        display: flex;
        justify-content: center;
        gap: 5px;
        padding-right: 110px;
    }
}
/* 1080 x 1920*/
@media (min-width :750.1px) and (max-width: 1080px)
{
    .fondo
    {
        background-image: url(./Imagenes/fondo.png);
        background-position: center;
        background-size: 1000vh;
        background-repeat: no-repeat;
    }
    .pokedex
    {
    
        margin: 56.8px;
        margin-top: 511.2px;
        margin-left: 100.8px;
        background-image: url(./Imagenes/pokedex-png-2.png);
        width: 880px;
        height: 715px;
    }
    .div201
    {
        height: 120px;
    }
    .div202
    {
        height: 130px;
    }
    .textoPokedex
    {
        font-family: Bit;
        font-size: 18px;
        background: #fbd4b3;
        max-width: 170px;
    }
    .barrabusqueda2
    {
        display: flex;
        justify-content: center;
        gap: 5px;
        padding-right: 110px;
    }
}
/* 1080 x 1920*/
@media (min-width :1080.1px) and (max-width: 2160px)
{
    .fondo
    {
        background-image: url(./Imagenes/fondo.png);
        background-position: center;
        background-size: 1000vh;
        background-repeat: no-repeat;
    }
    .pokedex
    {
    
        margin: 56.8px;
        margin-top: 250.2px;
        margin-left: 100.8px;
        background-image: url(./Imagenes/pokedex-png-2.png);
        width: 880px;
        height: 715px;
    }
    .div201
    {
        height: 120px;
    }
    .div202
    {
        height: 130px;
    }
    .textoPokedex
    {
        font-family: Bit;
        font-size: 18px;
        background: #fbd4b3;
        max-width: 170px;
    }
    .barrabusqueda2
    {
        display: flex;
        justify-content: center;
        gap: 5px;
        padding-right: 110px;
    }
}

